In [1]:
import numpy as np
import pandas as pd

In [13]:
movies = pd.read_csv('movies(1).csv')
ratings = pd.read_csv('ratings.csv')

In [14]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [19]:
print(movies.shape)
print(ratings.shape)

(10329, 3)
(105339, 4)

In [17]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [20]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [18]:
movies.duplicated().sum()

0

In [21]:
ratings.duplicated().sum()

0

COLLABORATIVE FILTERING

In [25]:
ratings_with_name = ratings.merge(movies,on='movieId')

In [26]:
ratings_with_name

,userId,movieId,rating,timestamp,title,genres
0,1,16,4.0,1217897793,Casino (1995),Crime|Drama
1,1,24,1.5,1217895807,Powder (1995),Drama|Sci-Fi
2,1,32,4.0,1217896246,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,4.0,1217896556,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,4.0,1217896523,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
105334,668,142488,4.0,1451535844,Spotlight (2015),Thriller
105335,668,142507,3.5,1451535889,Pawn Sacrifice (2015),Drama
105336,668,143385,4.0,1446388585,Bridge of Spies (2015),Drama|Thriller
105337,668,144976,2.5,1448656898,Bone Tomahawk (2015),Horror|Western
105338,668,148626,4.5,1451148148,The Big Short (2015),Drama

In [65]:
x = ratings_with_name.groupby('userId').count()['rating'] > 150
movie_watchers = x[x].index

In [66]:
filtered_rating = ratings_with_name[ratings_with_name['userId'].isin(movie_watchers)]

In [67]:
y = filtered_rating.groupby('title').count()['rating'] > 20
famous_movies = y[y].index

In [68]:
famous_movies

Index(['(500) Days of Summer (2009)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1996)',
       '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
       '12 Angry Men (1957)', '13th Warrior, The (1999)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '21 Grams (2003)', '25th Hour (2002)',
       ...
       'X2: X-Men United (2003)', 'Yellow Submarine (1968)',
       'You've Got Mail (1998)', 'Young Frankenstein (1974)',
       'Young Guns (1988)', 'Zodiac (2007)', 'Zombieland (2009)',
       'Zoolander (2001)', 'eXistenZ (1999)', 'Â¡Three Amigos! (1986)'],
      dtype='object', name='title', length=951)

In [69]:
final_ratings = filtered_rating[filtered_rating['title'].isin(famous_movies)]

In [70]:
pt = final_ratings.pivot_table(index='title',columns='userId',values='rating')

In [71]:
pt.fillna(0,inplace=True)

In [72]:
pt

userId,7,22,24,29,32,38,44,54,60,61,...,628,632,633,642,650,659,662,665,666,668
title,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer (2009),0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,2.5,0.0,0.0,4.0,2.0
101 Dalmatians (1996),0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,2.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
101 Dalmatians (One Hundred and One Dalmatians) (1961),0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,2.0
12 Angry Men (1957),0.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,4.5,0.0,0.0,5.0,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zodiac (2007),0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,3.0
Zombieland (2009),2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
Zoolander (2001),0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
eXistenZ (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0
Â¡Three Amigos! (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [73]:
from sklearn.metrics.pairwise import cosine_similarity

In [77]:
similarity_scores = cosine_similarity(pt)

In [79]:
similarity_scores.shape

(951, 951)

In [115]:
def recommend(movie_name):
    index = np.where(pt.index==movie_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:6]

    data = []
    for i in similar_items:
        item = []
        temp_df = movies[movies['title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('title')['title'].values))
        item.extend(list(temp_df.drop_duplicates('title')['genres'].values))
        
        data.append(item)
    return data

In [116]:
recommend('Toy Story (1995)')

[['Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
  'Action|Adventure'],
 ['Jurassic Park (1993)', 'Action|Adventure|Sci-Fi|Thriller'],
 ['Star Wars: Episode VI - Return of the Jedi (1983)',
  'Action|Adventure|Sci-Fi'],
 ['Star Wars: Episode V - The Empire Strikes Back (1980)',
  'Action|Adventure|Sci-Fi'],
 ['Back to the Future (1985)', 'Adventure|Comedy|Sci-Fi']]

In [114]:
pt.index[7]

'2001: A Space Odyssey (1968)'

In [118]:
import pickle
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(movies,open('movies.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))